.login{
    background-image: url('../img/bg.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.card-header{
    background-color: rgb(39, 39, 39) !important;
}

h1{
    text-shadow: 5px 5px 3px rgb(0, 0, 0);
}

.store{
    background-image: url('../img/cart.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}